.sidebar-popup {
  position: fixed;
  top: 92%;
  right: 2%;
  transform: translateY(-50%);
  background-color: #DC8BB9;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 30%;
  padding: 0.5px 20px;
  border-radius: 5%;
  /* border: #ffffff 1.3px solid; */
  z-index: 1;
  

}

.popup-container {
  text-align: center;
}

.sidebar-popup.open {
  transform: translateY(-90%); 
  background-color: white;
  right: 0%;
}


.toggle-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  

}

.popup-content input,
.popup-content textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.popup-content button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  /* background-color: #4caf50  ; */
  background-color:  #14bdad;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-content button:hover {
  /* background-color: #45a049; */
  background-color: #016B64;
}



