    .affiliated-colleges-slider {
        margin-top: 3rem;
        padding-bottom: 3rem;
        background-color: #f0f4ff;
    }

    .affiliated-colleges-heading {
        text-transform: uppercase;
        text-align: center;
        color: #426ae0;
        font-size: 2rem;
        font-weight: 600;
    }

    .affiliated-college-image {
        margin-top: 2.4rem;
        width: 90%;
        height: 36rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.5rem;
        border: 0.1rem solid #426ae0;
    }

    .affiliated-college-link-container {
        width: 80%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .affiliated-college-link {
        text-transform: uppercase;
        color: #426ae0;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
    }